body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.page-background {
    background: url(../images/background.png);
    width: 100vw;
    height: 768px;
    margin: 0;
}
.logo-info-container {
    width: 1028px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 201px 219px;
    justify-content: space-between;
    margin-left: 161px;
    margin-right: 177px;
}

.logo-wrapper:hover{ 
    filter: sepia(1) hue-rotate(300deg) saturate(200);
}

.logo-picture {
    display: inline-block;
    font-size: 0;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
}


.hover-container {
    position: relative;
    text-align: center;
}

.hover-container .tour-title:hover{
    color: #F26522;
}

.first:hover::before,
.first:hover::before {
    content: "";
    position: absolute;
    width: 295px;
    height: 55px;
    right: 2.5px;
    top: 165px;
    background-color: #F26522;
    background-size: 295px 55px;
  
}
.second:hover::before,
.second:hover::before {
    content: "";
    position: absolute;
    width: 295px;
    height: 55px;
    right: 2.5px;
    top: 165px;
    background-color: #F26522;
    background-size: 295px 55px;
  
}
.third:hover::before,
.third:hover::before {
    content: "";
    position: absolute;
    width: 295px;
    height: 55px;
    right: 2.5px;
    top: 165px;
    background-color: #F26522;
    background-size: 295px 55px;

}

.fourth:hover::before,
.fourth:hover::before {
    content: "";
    position: absolute;
    width: 295px;
    height: 55px;
    right: 2.5px;
    top: 165px;
    background-color: #F26522;
    background-size: 295px 55px;
  
}
.fifth:hover::before,
.fifth:hover::before {
    content: "";
    position: absolute;
    width: 295px;
    height: 55px;
    right: 2.5px;
    top: 165px;
    background-color: #F26522;
    background-size: 295px 55px;
  
}
.sixth:hover::before,
.sixth:hover::before {
    content: "";
    position: absolute;
    width: 295px;
    height: 55px;
    right: 2.5px;
    top: 165px;
    background-color: #F26522;
    background-size: 295px 55px;
  
}
.item1 {
    position: absolute;
    width: 22px;
    height: 14px;
    left: 21px;
    top: 165px;
    visibility:hidden;
}
.item2 {
    position: absolute;
    width: 36px;
    height: 14px;
    left: 21px;
    top: 175px;
    visibility:hidden;
}
.item3 {
    position: absolute;
    width: 78px;
    height: 14px;
    left: 185px;
    top: 185px;
    visibility:hidden;
}
.item3::after{
    content: url(../images/vector.png);
    position: absolute;
    left: 87px;
    top: 15px;
     

}
.hover-container:hover .item1 {
    visibility:visible;
    transition:1s;
}
.hover-container:hover .item2 {
    visibility:visible;
    transition:1s;
}
.hover-container:hover .item3 {
    visibility:visible;
    transition:1s;
}
.hover1 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.hover2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.hover3 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.logo-item {
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 53px 140px;
    gap: 8px;
    justify-content: left;
    margin: 0;
    padding-top: 51px;
    padding-left: 0;
   
}

.logo-txt {
    margin: 0;
}
.txt1 {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.txt2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.meta-info {
    width: 219px;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 21px);
    gap: 19px;
    padding-top: 46px;
    
}
.mail-txt {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.tel-numbr {
    margin: 0;
    text-align: end;

}
.mail-txt-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.mail-txt-link:hover{
    color: #F26522;
}
.tel-numbr-link:hover{
    color: #F26522;
}
.tel-numbr-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.menu-container {
    width: 1028px;
    margin-left: 161px;
    margin-right: 177px;
    margin-top: 22px;
    margin-bottom: 89px;
}
.tour-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    gap: 61px;
    justify-content: center;
    margin-top: 0;
    padding: 0;
}
.tour-item {
    list-style: none;
}
.tour-title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.tour1 {
    margin: 0;
}

.copyright-txt {
    font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
text-align: center;
color: #FFFFFF;

}
