.App {
  text-align: center;
  
}
.App_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}
.section-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 15px;
}
