html {
    height: 100%;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    color: #000000;
   
}
header {
    background-color: #ffffff;
}
header a {
    color: #ff0000;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

.nav_menu {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}
.menu_item {
    display: inline;
}
.menu_link {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    margin-left: 90px;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    letter-spacing: 2.7px;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center ;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}
.page_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase; 
}
.btn_link {
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    margin: auto;
    margin-top: 66px;
    margin-bottom: 82px;
}
.btn_link_subject {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-left: 43px;
    padding-right: 43px;
}
.copy_block {
    text-align: right;
    margin-right: 105px;
    margin-bottom: 29px;
}
.copy_text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 2.4px;
    color: #373737;
}