body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #000000;

}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 400%;
    line-height: 105px;
    color: #FFFF00;
    text-align: justify;
    position: absolute;
    width: 20em;
    height: 40em;
    bottom: 0;
    left: 50%;
    margin-left: -10em;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}
.title-head1 {
    text-align: center;
}
.title-head2 {
    text-align: center;
    font-size: 150%;

}
.title:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 100%;
        
}
.title-txt {
    position: absolute;
    top: 100%;
    animation: title 30s linear 0s infinite;
}
@keyframes title {
    0% {top: 100%;}
    100% {top: -180%;}
}


