.backgroundContainer {
  position: fixed;
  z-index: 3;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: rgba(59, 89, 152, .6), $alpha: 0.5);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer{
  border-radius: 15px;
  background-color: white;
  width: 500px;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid grey;
  background-color: #f3f1f1;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
      font-size: 20px;
      text-align: center;
      margin: 0 auto;
      padding: 20px;
      
  }
}

.closeButton {
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  background-image: url("./close_icon.svg");
  opacity: 0.7;
  background-size: cover;

  &:hover {
      opacity: 1;
      cursor: pointer;
  }
}

.body{
  padding: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
      text-align: center;
      margin: 0;
      padding: 0;
  }
}

.footer {
  border-top: 1px solid grey;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
