body {
    width: 1900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

}

header {
    width: 100%;
    background: #313131;

}

.navbar-items{ 
    display: flex;
   } 

.logo-container {
    display: flex;
    background: rgba(0, 0, 0, 0.0001);
}
.logo-name {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding:0;
  
    
}
.nav-logo {
    display: flex;
    margin-left: 16px;
}
.image-logo {
    margin-top: 29px;
    margin-bottom: 27px; 
    margin-right: 27px;
    margin-left: 27px;
}

.main-menu {
    display: flex;    
}
.main-menu-container {
    display: flex;
    width: 1626px;
}
.menu-list {
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    width: 1626px;
    padding: 20px;
    margin-top: 8px;
    
}
  
.menu-item {
    list-style-type: none;
 
}

.menu-link:hover{
    color: #14B9D5;
}
.menu-link {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.menu-link1 {
    margin-left: 474px;
}
.menu-link6 {
    margin-right: 445px;
}
.search {
    padding: 26px;
    background: #000000;
    margin-right: 3px;
}
.search-btn {
    display: flex;

}

.button {
    width: 170px;
    height: 55px;
    margin-right: 20px;
    text-align: center;
    
}
.btn-descr {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    
}
.btn1 {
    background: #89CA62;
    border-radius: 2px;
}
.btn2 {
    background: #14B9D5;
    border-radius: 2px;
}
.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 74px;

}

.banner_slogan {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 189px;

}


.container {
    width: 1900px;
    margin: 0;
    padding: 0;
  
}
.banner1 {
    display: flex;
    justify-content: center;
    background-image: url(../images/header-bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    
}
.main-page {
    margin: 0;
    padding: 0;

}
.main-container {

    max-width: 1900px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1px;
    background: #F2F2F2;
   
}

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 0;
    padding-top: 49px;
    
}

.popular-items {
    list-style: none;
    margin: 52px 250px 72px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
   
}


.popular-post {
    width: 370px;
    height: 100%;
    background: #FFFFFF;
    margin-top: 0; 
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 30px;
   
    
}
.popular-post1 {
    margin-left: 0;
    margin-bottom: 0;
   
}
.popular-post4 {
    margin-top: -120px;
    margin-left: 0;
    margin-bottom: 0;
   
}
.popular-post6 {
    margin-top: -85px;
    margin-bottom: 72px;
}


.post-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background-color: #FFFFFF;

}

.banner2 {
    display: grid;
    justify-content: center;
    background-image: url(../images/parallax-bg.png);
    background-size: cover;
    background-position: center;

   
}
.banner_slogan2 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 106px;
    
}
.section_line {
    width: 60px;
    height: 3px;
    background: #18B4CF;;
    margin-top: 87px;
    margin-bottom: 106px;
}

.brands-list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 207px 135px 232px 141px;
    gap: 58px;
    justify-items: center;
    margin-top: 107px;
    margin-bottom: 191px;
}
.brands {
    position: relative;
    left: 510px; 
}

.toprated-list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 271px);
    justify-content: center;
    padding: 0;
    margin: 0;
}
.toprated-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color:#18B4CF;
    margin-top: 49px;
   
}

.hotnews-container {
    /* height: 1612px; */
    width: 1168px;
    height: 1750px; 
    background: rgba(0, 0, 0, 0.0001);
    margin-left: 370px;
    margin-right: 370px;
 
}
.hotnews8-name {
    font-style: normal;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 0;

}
.hotnews-title {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;

}

.hotnews-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hotnews-post {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 856px 277px;
    gap: 35px; 
}
.hotnews1-paragraf {
    width: 350px;
    height: 140px;
    margin-right: 24px;
    margin-top: 41px;

}
.hotnews-post7-8 {
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
    
}
.hotnewx-txt {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    
}

.hotnews-post-box {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 483px 319px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 856px;
    height: 259px; 
}

.hotnews-post-box2 {
    margin-left: 0; 
}

.hotnews-name1 {
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
   margin: 0;
   
}
.hotnews-name2 {
   text-align: center;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin:0;
    padding-top: 14px;
    padding-bottom: 11px;
}


.hotnews-descr3 {
   
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 13px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
 
}
.hotnews-descr5 {
    margin-bottom: 43px;
}
.hotnews-dscr8 {
    justify-content: center;
}

.hotnews-img1 {
    width: 483px;
    height: 259px;

}
.hotnews-img2 {
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
width: 277px;

}
.hotnews-img7 {
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
width: 277px;

}
.hotnews-img8 {
    width: 483px;
    height: 259px;
    background: #F9F7F7;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}

.post3-6-container {
    width: 1168px;
    height: 970px;
    margin-top: 44px;
   
   
}
.hotnews3-6-list {
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 554px);
    grid-template-rows: repeat(2, 416px);
   gap: 60px;
   
}
.hotnews-items {
    list-style: none;
  
}


.hotnews-subtitle {
    font-style: normal;
    font-weight: bold;
font-size: 18px;
line-height: 25px;
text-align: right;
color: #353A3D;
margin: 0;
padding-top: 14px ;
padding-bottom: 15px;
padding-right: 14px;

}

.hotnews-img-box {
    width: 554px;
    height: 259px;
    margin: 0;
}

.hotnews-txt3 {
    font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
text-align: right;
color: #5B6469;
margin:0;
}


.hotnews7-8-container {
    width: 1168px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 277px 857px;
    gap: 35px;
    
}
.hotnews-list7-8 {
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;

   
}
.hotnews-post7 {
    list-style: none;

}
.hotnews-post-box8 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 483px 374px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 856px;
    height: 259px;
   
}
.hotnews8-paragraf {
    width: 350px;
    height: 140px;
    margin: 0;
    padding-top: 41px;
}
.footer-container {
    width: 1900px;
    height: 80px;
    background: #000000;
    display: grid;
    grid-auto-flow: column;
    padding-left: 367px;
   
}

.copyright-sbj {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;

}
.copyright-txt {
    text-align: start;
    margin-top: 29px;
    margin-bottom: 30px;
}
.copyright-items {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 38px 64px;
    gap: 3px;
 
    

}
.copy-logo-name {
    justify-content: end;
    

}



