body {
    font-family: 'Ubuntu', sans-serif;
    width: 1366px;
    height: 100vh;
    margin: 0 auto;
}
.page-wrapper {
    background: url(../images/page_wrapper.png);
    background-size: cover;
    padding-bottom: 4px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 17px;
  
}
.logo-box {
    margin-top: 20px;
    margin-left: 79px;
   
}
.logo-name:hover{
    color: #01813F;
}

.logo-name {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}


.navbar-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 21px 23px 23px;
    gap: 24px;
    margin: 0;
    margin-top: 18px;
    margin-left: 704px;
    justify-content: end;
    padding: 0;
    


}
.icon-svg:hover {
    filter: invert(2%) sepia(61%) saturate(2980%) hue-rotate(70deg) brightness(44%) contrast(152%);
   
}
.accent-hover:hover{
    color: #01813F;
}
.status1 {
   padding-right: 5px;
}
.nav-line {
    padding: 0;
    padding-top: 10px;
    margin: 0;
   
}
.nav-line-line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.navbar-item {
    list-style: none;
    margin: 0;
}
.navbar-forms {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    margin-right: 79px;

}
.navbar-form {
    list-style: none;
    display: flex;
}
.status-form {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 4px;
}
.main-form {
    width: 444px;
    height: 614px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin: 0 auto;
    padding: 0;
   margin-top: 54px;
   margin-bottom: 74px;
}
.title1 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0;
   
}
.title2 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin: 0;

}

.form-section {
    border: 0;
    margin: 0;
    padding: 0;
   
}
.form-items-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 31px;
    margin-bottom: 15px;
    
   
   
}
.form-item {
    list-style: none;
    margin: 0;
    padding: 0;

}
.form-headding1 {
    margin-right: 216px;
    margin-left: 42px;

}
.form-headding2 {
    margin-right: 60px;
}
.form-button {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    display: flex;
    
}
.form-line-item {
    width: 18px;
    height: 18px;
    display: flex;
    background: #3CB878;
    border: none;
    margin: 0;
    padding: 0;
}
.form-headding1 {
    display: flex;
    justify-content: start;
}

.title2:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;

}

.buttons {
    display: flex;
}
.button-facebook {
    background-color: #305DB8;
    margin-left: 60px;
    margin-right: 4px;

}
.button-google {
    background-color: #DF4A32;
    margin-right: 60px;
}
.fb-logobox {
    display: flex;
    height: 48px;
    width: 160px;

}
.fb-logobox:hover{
    background: #0A162F;
    
    
}
.fb-line {
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-top: 10px;
    margin-bottom: 10px;
   


}
.g-logobox {
    display: flex;
    width: 160px;
    

}
.g-logobox:hover {
    background: #AB1F09;
}
.g-logo {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 12px ;
    


}
.g-logo-item {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 15px;padding-bottom: 14px;
    padding-left: 1px;

}

.g-name-txt {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;


}
.g-line {
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-top: 10px;
    margin-bottom: 10px;

}


.main-button:hover {
    background: #01813F;
}
.line-items {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 17px;
}
.line-item {
    list-style: none;
}
.line {
    width: 152px;
    
}
.line-txt {
    margin: 0;
    padding-left: 5px;
    padding-right: 2px;
}
.fb-logo {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 18px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-top: 12px;
    margin: 0;
    
  
}
.fb-logo::before{
    content: "";
    width: 7px;
    height: 5px;
    background: #FFFFFF;
    display: block;
    position: relative;
    top: 8px;
}
.fb-name {
    margin-left: 18px;
}
.fb-name-txt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 22px;
}

.input {
    width: 322px;
    height: 44px;
    margin-bottom: 15px;
    margin-left: 60px;
    margin-right: 60px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    padding-top: 10px;

}
.input:active {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;

}

.form-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-bottom: 15px;
    padding-left: 20px;
    margin: 0;
}

.main-button {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

}



.accent-color{
    color: rgba(60, 184, 120, 0.8);
}

.check-wrapper {
    width: 16px; 
    height: 17px;
    margin-left: 62px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}
.checkbox {
    display: flex;
  
}
.box {
    margin-right: 8px;
    margin-left: 60px;
}
.accent-color:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;;
}



