@import "src/styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 315px;
  background-color: $primary-color;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    height: 332px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
    height: 355px;
  }
}
.footer-description {
  width: 303px;
  height: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 684px;
    height: 44px;
    margin-top: 22px;
    margin-bottom: 37px;
  }
}
.footer__posts-title {
  text-transform: uppercase;
  margin-top: 38px;
  color: white;
  margin: 0 auto;
  margin-top: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    margin-top: 57px;
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    margin-top: 66px;
  }
}
.footer-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #b9b9b9;
  margin: 0;

  @media (min-width: 768px) {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.social-item {
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: row;
  list-style: none;
  background: rgba(0, 0, 0, 0.0001);
  margin-left: 6px;
}
.social-logobox {
  width: 34px;
  height: 34px;
  border: 2px solid white;
  border-radius: 50px;
}
.rss {
  border-color: #f8902e;
}
.facebook {
  border-color: #39599f;
}
.twitter {
  border-color: #45b0e3;
}
.dribbble {
  border-color: #d97ab0;
}
.pinterest {
  border-color: #cc212c;
}

.social-icon {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-right: 12px;
  padding: 0;
}
.contacts {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-right: 70px;
  margin-left: 70px;
}
.contacts-text {
  color: #b9b9b9;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
