.banner {
  display: flex;
  margin: 0;
  margin-top: 83px;
  justify-content: center;
}

.banner-mob {
  @extend .banner;

  @media (min-width: 768px) {
    display: none;
  }
}
.banner-tablet {
  @extend .banner;
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 43px;
  }
  @media (min-width: 1200px) {
    display: none;
  }
}
.banner-desctop {
  @extend .banner;
  display: none;

  @media (min-width: 1200px) {
    display: flex;
    margin-top: 51px;
  }
}

.header-button {
  display: flex;
  justify-content: end;

  @media (min-width: 768px) {
    display: none;
  }
}

.header-menu-button {
  display: block;
  width: 44px;
  height: 37px;
  background-color: black;
  position: relative;
  margin-left: 220px;
}
.header-menu-button span,
.header-menu-button span::before,
.header-menu-button span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}
.header-menu-button span::before,
.header-menu-button span::after {
  content: "";
  display: block;
  transition: 0.2s;
}
.header-menu-button span::before {
  transform: translateY(-5px);
}
.header-menu-button span::after {
  transform: translateY(5px);
}
.header-menu-button__active span {
  height: 0;
}
.header-menu-button__active span::before {
  transform: rotate(45deg);
  animation-fill-mode: forwards;
}
.header-menu-button__active span::after {
  transform: rotate(-45deg);
  animation-fill-mode: forwards;
}
.header-navigation {
  position: relative;
  display: none;
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
}

.header-navigation-list {
  display: none;
  flex-direction: column;
  background: #f5f5f5;
  width: 182px;
  height: 208px;
  margin: 0;

  @media (min-width: 320px) and (max-width: 767px) {
    position: absolute;
    left: 85px;
    top: 40px;
  }
  @media (min-width: 768px) {
    width: 720px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
    padding: 0;
  }
  @media (min-width: 1200px) {
    width: 1200px;
  }
}
.header-navigation-list:active {
  display: block;
}
.header-navigation-item {
  display: block;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  list-style: none;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4e4e4e;
  padding-left: 13px;
  padding-top: 3px;
  margin-top: 5px;

  &:hover {
    color: #57a4a4;
  }
  &:focus {
    color: #e5e5e5;
  }

  @media (min-width: 768px) {
    margin: 0;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    margin-left: 48px;
  }
}
.header__burger-menu {
  position: relative;
  display: inline-block;

  @media (min-width: 768px) {
    display: none;
  }
}
