@import "src/styles/normalize";
@import "src/styles/header";
@import "src/styles/variables";
@import "src/styles/posts";
@import "src/styles/footer";
@import "src/styles/section_insta";

.section-wrapper {
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 28px;
  overflow-x: hidden;

  @media (min-width: 768px) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.banner-mob {
  margin-top: 23px;

  @media (min-width: 768px) {
    margin-top: 43px;
  }
}
.banner-desctop {
  margin-top: 51px;
}
