@import "./src/styles/variables.scss";

.posts {
  width: 232px;

  @media (min-width: 1200px) {
    width: 1165px;
  }
}
.posts-title {
  text-transform: uppercase;
  color: $text-color;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: 768px) {
    margin-top: 58px;
  }

  @media (min-width: 1200px) {
    margin-top: 66px;
  }
}
.posts-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: $text-color;
  margin: 0;
}
.posts-text {
  color: #7c7c7c;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 28.5px;

  @media (min-width: 768px) {
    margin-bottom: 13px;
  }
}
.post-description {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  width: 370px;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.post-img-container {
  width: 160px;
  height: 140px;
  margin: 0;
  margin-bottom: 11px;
}
.post-container {
  width: 262px;
  @media (min-width: 768px) {
    width: 510px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 160px 370px;
    gap: 5px;
    margin-bottom: 32px;
  }
}

.post-description-container {
  margin-left: 11px;

  @media (min-width: 768px) {
    width: 284px;
  }
}
.posts-title-wrap {
  width: 232px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 555px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 160px 220px;
    gap: 25px;
  }
}
.tablet {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}
.desctop {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
  }
}
