@import "src/styles/variables";

.section-container {
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {
    width: 1080px;
  }
}
.insta_shot {
  width: 301px;
  display: flex;
  background-color: none;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768;
  }
}

.insta-section-background {
  background: none;
  @media (min-width: 768px) {
    background-color: #f5f5f5;
  }
}
.insta-posts-title {
  text-transform: uppercase;
  color: $text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  margin-top: 38px;
  margin-bottom: 13px;
}

.insta-titles-wrap {
  display: flex;
  width: 301px;

  @media (min-width: 768px) {
    width: 768px;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media (min-width: 1200px) {
    width: 1080px;
    padding: 0;
    margin: 0;
  }
}
.insta-title-wrap {
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.insta-foto-list {
  width: 301px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
  }

  @media (min-width: 1200px) {
    width: 1080px;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
  }
}
.insta-foto-item {
  margin-left: 7px;
}
.insta-foto {
  width: 301px;
  height: 301px;

  @media (min-width: 768px) {
    width: 249px;
    height: 249px;
  }

  @media (min-width: 1200px) {
    width: 285px;
    height: 285px;
  }
}
