.root {
  display: flex;
  padding: 0 24px;
  width: 100%;
  height: 50%;
  background-image: url(./background.jpg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: sans-serif;

  ul {
    list-style: none;
    margin-top: 20px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-left: 120px;
  }

  a {
    color: #ffff;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.navContainer {
  background-color: #6a92d4;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
}
.container {
  padding: 10px;
  display: flex;
  max-width: 1300px;
}
.logoWrap {
  display: flex;
  margin-left: 30px;
}

.logo {
  background-image: url(./logo_wine.png);
  background-size: cover;
  margin-top: 10px;
}

.logoText {
  font-size: 20px;
  font-weight: 700;
  color: rgb(201, 14, 14);
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: #ffff;
  }
}
.iconContainer {
  display: flex;
  margin-left: 100px;
  margin-top: 10px;
}
.icon {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
  left: 200px;
  column-gap: 5px;
  img {
    width: 30px;
    height: 30px;
    padding: 0;
  }
}
