body {
    width: 1200px;
    margin: 0 auto;
}
.formvalidation {
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.focused {
    outline: 1px solid #3c763d;
  }
.error { border-color: red; 
} 
.ok{
    color: #3c763d;
}

#invalid {
    color: black;
    margin-left: 100px;
   
}