.card {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 300px;
    height: 350px;
    border: 1px solid #3B5998;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 10px 0 26px;
    width: 75%;
    
  }

  .price {
    margin-top: 10px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    width: 100%;
    
  }
  
  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(90px);
    transition: transform .15s ease-out;
    z-index: 2;
  }
  
  .card:hover {
    box-shadow: 0 0 10px 4px rgba(34, 60, 80, 0.5);
  
    .price {
      opacity: .3;
    }
  
    .btnContainer {
      transform: translateY(0);
    }
  }
  .favoriteButton {
    padding: 0;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 100%);
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.price {
    font-size: 24px;
    font-weight: 700;
}
.img {
  height: 150px;
}
