.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 20px 20px;
    border-radius: 5px;
    border: 1px solid rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    margin: 20px;
    position: relative;
    font-family: sans-serif;
}

.card h4 {
    font-size: 26px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
}

.card__btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid plum;
    outline: none;
    background-color: grey;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    filter: brightness(.9);
}

.card__btn p {
    margin: 0 auto;
    color: black;
}