header {
  border-bottom: 1px solid grey;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}
.modal {
  &Container {
    background-color: rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Content {
    background-color: white;
  }
  &CloseBtn {
    border: 1px solid grey;
    border-radius: 4px;
    opacity: 0.7;
    margin-left: 160px;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  &Text {
    margin-top: 20px;
    padding: 20px;
    padding-left: 20px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  &ServiceButtons {
    border-top: 1px solid grey;
  }
}
