
.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.tabs-triggers_item--active {
    display: flex;
    background-color:#937341 ;
    color: #23201D;
}
.tabcontent-item {
   display: none;
}
.tabcontent-item--active {
    display: flex;
}
.tabs-triggers {
    display: flex;
    padding: 6px 12px;
    border-top: none;
}
.tabs-triggers_item {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;

}