body {
    width: 1280px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;

}
header {
    margin-top: 63px;
    background: rgba(0, 0, 0, 0.0001);

}
.btn {
    margin-bottom: 20px;
}
  /* Світла тема */
.theme-light {
    background: #FFFFFF;
}

  /* Темна тема */
.theme-dark {
    background: #aaa;
}

.wrapper{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    margin-top: 63px;
    
}
.logo-link {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
}
.accent_color_1 {
    color: #000000; ;
}
.accent_color_2 {
    color: #3181a6;
}
.top-menu {
    background: #35444F;
    display: flex;
    justify-content: center;
    height: 72px;
   
}
.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.menu-item {
   list-style: none;
    padding-top: 26px;
    padding-bottom: 19px;
    border-left: 1px solid #FFFFFF;
    padding-left: 23px;  
}

.menu-link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;   
}
.menu-item1 {
    width: 270px;
   
}
.menu-item2 {
    width: 115px;   

}
.menu-item3 {
    width: 220px;

}
.menu-item4 {
    width: 175px;
    border-right: 1px solid #FFFFFF;

}
.main-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0001);
    
    
}
.left-menu {
    width: 342px;
    height: 399px;
    margin-right: 53px;
}
.left-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    padding-top: 32px;
    padding-bottom: 30px;
    padding-right: 150px;
    margin-top: 48px;  
}
.left-menu-item {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    list-style-type: none;
    padding-bottom: 27px;
}
.left-menu-link {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    color: #485863;
}
.left-link1 {
    width:106px;
}
.left-link2 {
    width: 226px;
}
.left-link3 {
    width: 220px;
    align-self: center;
}
.left-link4 {
    width: 179px;
}
.left-link5 {
    width: 153px;;
}
.top-content {
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-top: 48px;
}
.top-foto-area {
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.0001);
    height: 529px;
    display: flex;
    justify-content:center;
}
.top-foto-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.text-content {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}
.footer-box {
    width: 100%;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);   
}
.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    flex-wrap: nowrap;    
}
.list-item {
    list-style-type: none;
}
.footer-link {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #0C1927;
}
.footer-link7 {
    padding-right: 135px;

}
.copy-link {
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;

}
